* {
    color: white;
    font-size: 25px;
    font-family: "Anton", sans-serif;
}

h1 {
    color: goldenrod;
    font-size: 50px;
}

body {
    background-color: navy;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black;
}

.grid-element {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
    border-collapse: collapse;
    font-size: 60px;
    border: 3px solid black;
}

.header {
    display: flex;
    justify-content: center;
    border: 4px solid black;
    color: white;
    font-size: 60px;
}

.covered {
    color: goldenrod;
}

.covered:hover { 
    background-color: rgb(22, 63, 77);
    cursor: pointer;
}

.uncovered {
    color: white;
    font-size: 25px;
    padding: 23px 0;
}